/* @import url(http://fonts.googleapis.com/css?family=Oldenburg) */

@font-face {
  /* font-family: 'Oldenburg'; */
  font-family: 'Alfa Slab One';
  src: url('http://fonts.googleapis.com/css?family=Alfa+Slab+One');
}

h1, h2, h3, h4, h5 {
  /* font-family: 'Oldenburg, cursive'; */
  font-family: 'Alfa Slab One', cursive;
}

body {
    background-color: #ddd;
}

#wrapper {
    margin: 0 *;
    padding: 25px;
    width: 600px;
    background-color: #eee;
}

#card {
    background-color: white;
    height: 200px;
}

#photo {
    margin: 10px;
}
