/* swatches */
h1,
h2 {
  font-family: 'Alfa Slab One', cursive;
  color: #fb8261;
}
h3,
h4 {
  font-family: 'Oldenburg', cursive;
  color: #808080;
}
h1 {
  text-align: center;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
  color: #b3b3b3;
}
.test {
  background-color: #4fd8bf;
}
.content {
  height: 600px;
}
.product {
  font-family: 'Source Sans Pro', sans-serif;
  box-shadow: 0 2px 0 #808080;
}
.product_details {
  background-color: #fff;
  padding: 0 10px 10px;
}
.footer {
  height: 100px;
}
