/* swatches */
flat_dark_green = #16a085
flat_dark_blue = #303387
flat_light_green = #4fd8bf
flat_light_purple = #bc66a1
flat_light_orange = #fb8261
flat_dark_grey = lighten(black, 50%)
flat_light_grey = lighten(black, 70%)

// @font-face
//   font-family 'Alfa Slab One', Maiden, cursive

h1, h2
  font-family 'Alfa Slab One', cursive
  color flat_light_orange

h3, h4
  font-family 'Oldenburg', cursive
  color flat_dark_grey

h1
  text-align center

body
  font-family 'Open Sans', sans-serif
  background-color lighten(black, 95%)
  color flat_light_grey

.test
  background-color flat_light_green

.content
  height 600px

.product
  font-family 'Source Sans Pro', sans-serif
  box-shadow 0 2px 0 flat_dark_grey

.product_details
  background-color white
  padding 0 10px 10px

.footer
  height 100px
