/*
 * BOOSTRAP MEDIA QUERY THRESHOLD
 * @media(max-width:767px){}  .col-xs-
 * @media(min-width:768px){}  .col-sm-
 * @media(min-width:992px){}  .col-md-
 * @media(min-width:1200px){} .col-lg-
 */

/* swatches */
flat_dark_green = #16A085
flat_light_green = #4FD8BF
flat_vine_green = #39DBAC
flat_dark_grey = #303847
flat_light_purple = #BC66A1
flat_light_orange = #FB8261
flat_light_blue = #428BCA
flat_dark_mono = lighten(black, 60%)
flat_light_mono = lighten(black, 90%)

h1, h2, h3, h4, h4 a
  font-family 'Source Sans Pro', sans-serif
  font-weight 600

h1, h2, h3
  color flat_vine_green
  // text-shadow 2px 2px 0 darken(flat_vine_green, 30%)

h4, h4 a
  color lighten(black, 30%)

body
  font-family 'Open Sans', sans-serif
  font-weight 200
  background-color darken(white, 5%)
  // background-color flat_light_mono
  color flat_dark_grey

// .navbar-nav li a
//   padding-top 10px !important
//   padding-bottom 10px !important

.navbar
  min-height 20px !important
  margin-bottom 10px
  h1
    margin 0
    padding 0

 .container .main
  margin-top 0
  padding-top 0
.main
  padding 0 0 30px 0
  // color flat_dark_green
  background-color white
  .second-nav
    padding-top 10px
  .jumbo
    background-color white
    padding-top 10px

/* product card styling */

.blog_posts
  .post
    .img-post
      max-width 100%
      min-width 100%
    .intents
      position relative
      top -120px
      float right
      .like, .share
        padding-left 5px
        display inline
      i
        color flat_dark_green
      span
        padding-left 5px

.products
  font-family 'Source Sans Pro', sans-serif
  text-align center
  padding 20px 0 70px 0
  background-color flat_dark_grey
  .product
    box-shadow 0 2px 0 flat_light_mono
    .product_img
      max-width 100%
    .product_details
      background-color white
      padding 0 10px 10px
      .btn-round
        position relative
        border-radius 50%
        top -19px
      .btn-secondary
        background flat_dark_grey
        color white
      h4
        margin 0
        padding 5px 0
      p
        font-size 0.9em
      .intents
        text-align right
        position absolute
        top 155px
        right 25px
        font-size 0.8em
        line-height 14px
        float right
        i
          color flat_vine_green
        span
          font-size 1.2em
          margin-left 5px
      .product_img
        width 100%

/* footer */

footer
  // background-color lighten(black, 25%)
  .footer
    height 200px
    margin-top 50px
