/*
 * BOOSTRAP MEDIA QUERY THRESHOLD
 * @media(max-width:767px){}  .col-xs-
 * @media(min-width:768px){}  .col-sm-
 * @media(min-width:992px){}  .col-md-
 * @media(min-width:1200px){} .col-lg-
 */

/* swatches */
flat_dark_green = #16A085
flat_light_green = #4FD8BF
flat_vine_green = #39DBAC
flat_dark_grey = #303847
flat_light_purple = #BC66A1
flat_light_orange = #FB8261
flat_light_blue = #428BCA
flat_dark_mono = lighten(black, 60%)
flat_light_mono = lighten(black, 90%)

h1, h2, h3, h4, h4 a
  font-family 'Source Sans Pro', sans-serif
  font-weight 600

h1, h2, h3
  color flat_vine_green
  text-transform uppercase
  // text-shadow 2px 2px 0 darken(flat_vine_green, 30%)

h4, h4 a
  color lighten(black, 30%)

body
  font-family 'Open Sans', sans-serif
  font-weight 200
  background-color white
  color flat_dark_grey

// .navbar-nav li a
//   padding-bottom 10px !important
//   padding-top 10px !important

.navbar
  min-height 20px !important
  margin-bottom 10px
  h1
    margin 0
    padding 0

.container .main
  margin-top 0
  padding-top 0
.main
  // padding 0 0 30px 0
  padding-top 30px
  .second-nav
    padding-top 10px
    // background-color darken(white,10%)
    -webkit-border-radius 5px 
    border-radius 5px 
  .jumbo
    // background-color #eff
    // padding-top 10px
    border-radius 5px

/* live report syling */
.live-report
  border 1px solid #e0e0e0
  border-radius 5px
  box-shadow 0px 2px 2px #eaeaea
  background-color white
  h3
    // padding 5px
    // padding-left 20px
    // background-color flat_dark_grey
    color flat_dark_mono
    text-align center

.big-number-container, .incharge-container
  // text-align center
  margin auto 0

.big-number-label
  font-size 12px
  color flat_dark_mono
  text-align center

.big-number
  font-size 36px
  font-weight 800
  color flat_vine_green
  text-align center
  line-height 36px  

.incharge-label
  font-size 12px
  color flat_dark_mono

.incharge-name
  font-size 22px
  // font-weight 600
  color flat_dark_grey
  line-height 14px
  margin-bottom 10px

// not using for the moment. using bootstrap class for unstyle
ul.route-list
  list-style-type none
  padding 0

li.route-list
  margin 10px
  padding-top 10px 
  // padding 0 10px
li.route-list:nth-child(odd)
  background-color darken(white, 3%)
li.route-list:nth-child(even)
  background-color darken(white, 7%)

.route-container
  text-align center
  // background-color flat_light_mono

.route-label
  font-size 14px
  color flat_dark_mono

.route-number
  font-size 22px
  font-weight 600
  color flat_vine_green
  line-height 22px

.service-container
  font-size 12px
  color flat_dark_mono
  span
    font-size 10px
    // text-decoration underline
    font-weight 600 
    text-transform uppercase 
    color flat_vine_green 

/* product card styling */

.blog_posts
  .post
    .post-img-container .caption
      position relative
      top -38px
      text-align center
      display block
      padding 5px
      background-color rgba(0, 0, 0, 0.7)
      color white
    .img-post
      max-width 100%
    .intents
      position relative
      top -120px
      float right
      .like, .share
        padding-left 5px
        display inline
      i
        color flat_dark_green
      span
        padding-left 5px

.products
  font-family 'Source Sans Pro', sans-serif
  text-align center
  padding 20px 0 70px 0
  background-color flat_dark_grey
  .product
    box-shadow 0 2px 0 flat_light_mono
    .product_img
      max-width 100%
    .product_details
      background-color white
      padding 0 10px 10px
      .btn-round
        position relative
        border-radius 50%
        top -19px
      .btn-secondary
        background flat_dark_grey
        color white
      h4
        margin 0
        padding 5px 0
      p
        font-size 0.9em
      .intents
        text-align right
        position absolute
        top 155px
        right 25px
        font-size 0.8em
        line-height 14px
        float right
        i
          color flat_vine_green
        span
          font-size 1.2em
          margin-left 5px
      .product_img
        width 100%

/* misc styling */

.space-12
  min-height 1px 
  max-height 1px 
  margin 6px 0 6px 
  padding 0 20px 

/* footer */

footer
  background-color darken(flat_dark_grey, 25%)
  color flat_light_mono
  .footer
    height 50px
    margin-top 50px
